
var result = "<% if !(@flag) %><script>toastr.success('successfully save minimized url');</script><h2>Your Original Url is: <%= @url.base_original_url %></h2><h2>Your Minimized Url is: <a href='/<%= escape_javascript @url.find_duplicate.minimized_url %>'><%= escape_javascript  @domain +"/"+ @url.minimized_url %></a></h2><% else %><script>toastr.error('Url Already available in database');</script><a href='/<%= escape_javascript @url.find_duplicate.minimized_url %>'><%= escape_javascript @domain+"/"+@url.find_duplicate.minimized_url %></a><% end %>";

$("#result").html(result);